li {
  color: rgb(155, 155, 153) !important;
}
.normal {
  color: rgb(155, 155, 153) !important;
}
.big:hover {
  color: white !important;
}

.liActive {
  border-left: 2px solid green;
  padding-left: 20px;
  color: white !important;
  font-weight: bolder;
}

.big,
.card {
  cursor: pointer;
}
.small {
  font-size: small;
  font: italic;
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  color: rgb(0, 174, 255) !important;
}

.likeTag:hover {
  color: rgb(0, 174, 255) !important;
}

.active {
  color: rgb(0, 174, 255) !important;
}

.bordered {
  width: 100px;
  border-radius: 20px;
}

@media screen and (max-width: 770px) {
  ul li {
    display: inline;
    padding-right: 50px;
  }

  .txt {
    font-weight: bold;
    color: white !important;
  }
}
@media screen and (max-width: 750px) {
  .mainleft {
    max-height: 300px;
  }
}

.black {
  background-color: rgb(49, 47, 47);
}

.popover-body:hover {
  cursor: pointer;
  background-color: #212529 !important;
  border-radius: 5px !important;
}

.card {
  background-color: rgb(66, 66, 66);
}

tr:hover {
  background-color: grey;
  color: black;
}

@media screen and (max-width: 250px) {
  .mainleft {
    min-width: 250px !important;
  }

  .right {
    min-width: fit-content !important;
  }
}
