li {
    color: rgb(155, 155, 153) !important;
}
.normal {
    color: rgb(155, 155, 153) !important;
}
.big:hover {
    color : white !important;
    font-weight: bolder;
    
}

.liActive {
    border-left: 2px solid green;
    padding-left: 20px;
    color : white !important;
    font-weight: bolder;
}

.big, .card {
    cursor: pointer;
}
.small {
     font-size: small;
     font: italic;
 }

.cursor {
    cursor: pointer;
}

.cursor:hover {
    font-size: xx-large;
}

.mainleft {
    position: absolute;
    min-width: 250px !important;
    left: 0 !important;
}

.likeTag:hover {
    color: rgb(0, 174, 255) !important;
}

.active {
    color: rgb(0, 174, 255) !important;
}

.bottom {
    position: absolute;
    bottom : 0 !important
}
.right {
    position: absolute;
    right: 0 !important;
}

.bordered {
    width: 100px;
    border-radius: 20px;
}


.popover-body:hover {
    cursor: pointer;
    font-weight: bolder;
    border: 2px solid #212529 !important;
    background-color: #212529 !important;
    border-radius: 5px !important;
    
}

.card {
    background-color: rgb(66, 66, 66);
}

tr:hover {
 background-color: grey;
 color: black;
}


@media screen and (max-width : 500px) {
    .mainleft {
        width: 300px !important;
    }
}

